<a class="navbar-brand">JMAD</a>

<form>
  <label for="jmad-instrument">Instrument</label>
  <input type="text" name="instrument"
    class="form-control" id="jmad-instrument" placeholder="i.e. trumpet" />

  <label for="jmad-artist">Artist</label>
  <input type="text" name="artist" class="form-control"
    id="jmad-artist" placeholder="i.e. Davis" />

  <button type="submit">Search JMAD</button>
</form>

<div class="jmad-search-result"></div>
<div class="jmad-search-result"></div>
<div class="jmad-search-result"></div>
